.card{
    /* Created with https://www.css-gradient.com */
    background: #D1711A;
    background: -webkit-linear-gradient(bottom, #D1711A, #FFFF01);
    background: -moz-linear-gradient(bottom, #D1711A, #FFFF01);
    background: linear-gradient(to top, #D1711A, #FFFF01);
    height: 50%;
    width: 30%;
    margin: 2%;
    border: 3px solid black;
    border-radius: 3%;
}

.selected{
    border: 2px solid red;
}