.scoreBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    color: white;
    width: 60%;
    /* height: clamp(20%, 30%, 40%); */
    visibility: hidden;
}

.resultStateHidden, .scoreHidden {
    visibility: hidden;
}

.resultState {
    margin: 4px;
}

.scores {
    display: grid;
    grid: 50% 50%/ 50% 50%;
    width: 30%;
}

.scores > div {
    padding: 3%;
}

.p1head, .p2head {
    border-bottom: 2px solid;
}

.p1head, .p1score {
    border-right: 1px solid;
}

.p2head, .p2score {
    border-left: 1px solid;
}

/* @media screen and (min-width:900) {
    .scores > span {
        margin: 0 25% 0 25%;
    }
} */

